@import '../vars.scss';

.plan {
  width: 100%;
}

.calendar {
  width: 100%;
  padding-top: 15px;
  &__switch-date {
    display: flex;
    align-items: center;
  }
  &-list {
    padding-top: 15px;
    & .list__item:hover {
      background-color: $background;
      cursor: pointer;
    }
  }
  &__title {
    cursor: pointer;
  }
  &__week,
  &-days {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
  }
  &__week {
    border: 1px solid rgba(0,0,0,.12);
  }
  &-days__day {
    width: 14.28571429%;
    padding: 6px 0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    border: none;
  }
  &__events {
    position: absolute;
    top: 30px;
    height: 96px;
    width: calc(100% - 3px);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar-track
    {
      border-radius: 4px;
      background-color: $border__gray__light;
    }
    &::-webkit-scrollbar
    {
      width: 8px;
      background-color: $border__gray__light;
    }
    &::-webkit-scrollbar-thumb
    {
      border-radius: 4px;
      background-color: $border__gray;
    }
    & button {
      width: 100%;
      text-align: left;
      padding: 0 8px;
      max-width: calc(100% - 16px);
      margin: 0 auto;
      border: 1px solid $border;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
    }
  }
  &__event {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    color: $text__black;
    transition: border 0.15s linear;
    margin-bottom: 8px;
    &:hover {
      cursor: move;
      cursor: -webkit-grabbing;
      & * {
        cursor: move;
        cursor: -webkit-grabbing;
      }
    }
    &:focus {
      filter: opacity(0.6);
    }
    &--active {
      background-color: $green;
      color: $white;
    }
    & .green:hover {
      background-color: $green__hover !important;
    }
  }
  &__day {
    width: 14.28571429%;
    border: 1px solid $border__gray;
    position: relative;
    &::before{
      content: '';
      padding: 50% 0;
      display: inline-block;
    }
    &--next-month .calendar__date,
    &--prev-month .calendar__date {
      color: $text__gray;
    }
    &--dragOver{
      border-color: $green;
    }
    &--today .calendar__date {
      background-color: $blue400;
      font-weight: 600;
      color: $white;
      border-radius: 2px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__date {
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 4px;
    font-size: 13px;
  }
  &__tooltip {
    display: none;
    width: calc(100% - 12px);
    position: absolute;
    bottom: 4px;
    left: 6px;
    text-align: center;
    color: $text__gray;
    font-size: 13px;
    background-color: $white;
  }
  &__filters {
    display: flex;
    align-items: center;
  }
  &__divider {
    height: 35px;
    margin: 6px 18px 6px 9px;
    border-left: 1px solid $border;
  }
  &__month {
    font-size: 18px;
    font-weight: 500;
    min-width: 140px;
  }
}

.calendar {
  &-date {
    min-width: 50px;
    &-day {
      font-size: 18px;
      font-weight: 500;
      &-name {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  &--today {
    color: $blue400;
  }
}