@import 'reset.css';
@import 'grid.css';
@import 'vars.scss';
@import 'components/helpers.scss';
@import 'components/calendar.scss';
@import 'components/animations.scss';

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: $text__black;
}

.wrapper {
	min-height: 100vh;
	background-color: $background;
}

.main {
	display: flex;
}

.header {
	background-color: $white;
	height: 60px;
	width: 100%;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
	&__logo {
		font-size: 24px;
		width: 270px;
	}
}

.aside {
	width: 255px;
	padding: 32px 0;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: calc(100vh - 60px);
}

.nav {
	&__item {
		display: flex;
		height: 46px;
		& .nav__link--active {
			color: $blue400;
		}
	}
	&__link {
		width: 100%;
		padding: 0 16px;
		color: $text__black;
		display: flex;
		align-items: center;
		font-weight: 500;
		text-decoration: none;
		transition: $transition;
		&:hover {
			background-color: $background__hover;
            text-decoration: none;
		}
	}
	&__icon {
		width: 48px;
		font-size: 24px;
	}
	&__divider {
		margin: 16px;
		height: 1px;
		width: 100%;
		background-color: $text__gray;
	}
}

.content {
	flex: 1 1 calc(100% - 255px);
	padding: 32px;
}

.spacer {
	flex-grow: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
}

.login-link {
	display: block;
	margin: 32px;
	text-align: center;
	color: $text__black;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.text--green {
    color: $green;
}

.text--red {
	color: $red;
}

.text--blue {
	color: $blue400;
}

.text--bold {
	font-weight: 500;
}