@import 'vars.scss';

@media screen and (max-width: 1100px) {
	.aside-toggler {
		display: block !important;
	}
	.header {
		&__logo {
			font-size: 20px;
		}
	}
	.aside {
		min-width: 280px;
		position: fixed;
	    top: 0;
	    height: 100%;
	    left: 0;
	    z-index: 9;
	    transform: translateX(-300px);
	    z-index: 999;
	    &--show {
	    	transform: translateX(0);
	    }
	    & .header__inner {
	    	padding: 0 15px;
	    	display: flex !important;
	    	position: relative;
	    	top: -20px;
	    }
	    & .header__logo {
			color: $text__black;
			font-size: 20px;
			& a {
				color: $text__black;
			}
		}
		& .aside-toggler {
			&:hover {
				background-color: $background__hover;
			}
			& span {
				color: $text__black;
			}
		}
	}
	.content {
		padding: 16px;
		flex: 1 0 100%;
	}
	.box {
		width: 100%;
		padding: 8px;
	}
	.changeView {
		display: none;
	}
	.calendar {
		&__divider {
			display: none;
		}
	}
	.mx-datepicker.month {
		display: block;
		max-width: 110px;
	}
	.calendar__switch-date {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.modal {
		&__content {
		    margin: 0 8px;
		    width: calc(100% - 32px);
		    left: 0;
		    transform: translateX(0);
		    min-height: auto;
		}
	}
	.box {
		&__content {
			padding: 8px;
		}
	}
	.clearSystem {
		display: none;
		&--mobile {
			display: block;
		}
	}
	.button-float {
		right: 16px;
		bottom: 16px;
	}
	.calendar__filters {
		flex-direction: column;
		align-items: center;
		& .mx-datepicker.month {
			max-width: 120px;
			margin: 12px 8px 4px;
		}
	}
}

@media screen and (max-width: 768px) {
	.responsiveTable {
		margin-bottom: 0;
		background-color: transparent;
	}
	& thead,
	& tfoot {
		display: none;
	}
	& tbody {
		display: block;
		& tr {
			display: block;
			border: 1px solid $border;
			border-radius: 2px;
			margin-bottom: 0;
			margin-bottom: 8px;
		}
		& td {
			display: block;
			vertical-align: middle;
			text-align: right;
		}
		& td[data-title]:before {
			content: attr(data-title);
			padding-right: 4px;
			font-weight: 500;
			float: left;
			font-size: inherit;
		}
	}
	.clearsystem {
		&--icon {
			display: block;
		}
		&--button {
			display: none;
		}
	}
}