$blue500: #0D47A1;
$blue400: #1565C0;
$blue300: #3177C7;
$blue200: #4987CE;

$green: #65C160;
$green__hover: #377F14;
$white: #FFFFFF;

$red: #F54D41;
$red200: #E43C30;

$border: #e5e6e7;
$border__gray: #e5e6e7;
$border__gray__light: #f6f7f8;

$background: #F2F2F2;
$background__hover: #DDDDDD;

$text__gray: #999999;
$text__black: #626262;

$button__shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
$button__shadow--active: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

$transition: .3s cubic-bezier(.25,.8,.5,1);

